.display-felx{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 600;
    color: #252432;
}
.navber{
    justify-content: space-between;
  margin: 50px 10%;
  display: flex;
}
.text-color{
    color: #E95A08;
}
.container{
    width: 1140px;
    height: 461px;
    margin: 0 auto;
    padding: 160px 240px;
}
.banner{
    display:flex ;
    align-items: center;
}
.text-size{
    font-size: 50px;
    font-weight: bold;
}
.text-decription{
    color: #000000;
    font-size: 22px;
}
.btn-primary{
background-color: #E95A08;
padding: 15px 90px;
}
.title-color{
    color: #FFFFFF;
    font-weight: 500;
   
}
.font{
    font-weight: bold;
    font-size: 50px;
}
.title{
 text-align: center;

}

.buy-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 323px;
    max-width: 1140px;
}
.banner-container{
    justify-content: space-between;
  margin: 50px 10%;
  display: flex;
}
.carding{
   
  margin: 50px 10%;
  
}
.card{
    padding: 30px;
    margin: 0 22%;
}
.font-p{
    font-size: 22px;
    color: #000000;
}





/* / responsive small devaice */ 
/* @media screen and (max-width:576px)  {
    .navbar, .nav-links {
       
        flex-direction: column;
    }
    .banner-container {
        flex-direction: column;
    }

}
